<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.library.aladin.book.mapper.BookMapper">

    <!-- 도서 등록 -->
    <insert id="createBook"
            parameterType="com.library.aladin.book.domain.Book"
            useGeneratedKeys="true"
            keyProperty="bookId">
        INSERT INTO aladin.p_book (book_title,
                                   book_author,
                                   book_publisher,
                                   book_desc,
                                   book_price,
                                   book_thumbnail,
                                   category_id)
        VALUES (#{bookTitle},
                #{bookAuthor},
                #{bookPublisher},
                #{bookDesc},
                #{bookPrice},
                #{bookThumbnail},
                #{categoryId})
    </insert>

    <!-- 도서 아이디로 도서 반환 -->
    <select id="findById" parameterType="long" resultType="com.library.aladin.book.domain.Book">
        SELECT book_id,
               book_title,
               book_author,
               book_publisher,
               book_desc,
               book_price,
               book_thumbnail,
               category_id
        FROM p_book
        WHERE book_id = #{bookId}
    </select>

    <!-- 도서 전체 반환 (is_deleted = false) -->
    <select id="findAllBooks" resultType="com.library.aladin.book.domain.Book">
        SELECT book_id,
               book_title,
               book_author,
               book_publisher,
               book_desc,
               book_price,
               book_thumbnail,
               category_id
        FROM p_book
        WHERE is_deleted = FALSE
        ORDER BY book_id DESC
    </select>

    <!-- 도서 수정 -->
    <update id="updateBook" parameterType="com.library.aladin.book.domain.Book">
        UPDATE p_book
        SET book_title = #{bookTitle},
            book_author = #{bookAuthor},
            book_publisher = #{bookPublisher},
            book_desc = #{bookDesc},
            book_price = #{bookPrice},
            book_thumbnail = #{bookThumbnail},
            category_id = #{categoryId}
        WHERE book_id = #{bookId}
    </update>


</mapper>
